node_modules/
vendor/
.DS_Store
*.local
*.zip

# --- Dossiers temporaires de packaging et de build ---
dist-temp/
build/

# --- Assets compilés ---
assets/js/*.js
assets/js/*.asset.php
assets/js/*.map
!assets/js/index.php
assets/css/*.css
assets/css/*.map
!assets/css/index.php

# --- OS & Système ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Fichiers IDEs & Éditeurs ---
.idea/
.vscode/
*.suo
*.swp
*.swo

# --- Logs et Caches ---
.eslintcache
.phpunit.result.cache
*.log
npm-debug.log*
